@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: "Raleway", sans-serif;
  line-height: 1em;
  /* background-color: #0d0d0d; */
  background-color: #e6e6e6;
  color: #ffffff;
  overflow: hidden;
}
.nav-menu{
     /* display: none; */
     position: fixed;
     z-index: 99;
     top: 0;
     left: 0;
     /* background-color: #272A2A; */
     background-color: #111c27;
     width: 100vw;
     height: 100vh;
     overflow-y: hidden;
     padding-left: 40px;
     -webkit-box-shadow: -1px 0 30.5px 0.5px rgba(11, 17, 23, 0.5);
-moz-box-shadow: -1px 0 30.5px 0.5px rgba(11, 17, 23, 0.5);
box-shadow: -1px 0 30.5px 0.5px rgba(11, 17, 23, 0.5);
}
.plate5:hover{
  cursor: pointer;
}

.u-b6 {
  margin: 0;
  font-size: 10px;
}

.u-b4 {
  margin: 0;
  font-size: 14px;
}

.u-a6 {
  margin: 0;
  margin-bottom: 0.6em;
  font-size: 36px;
}

.u-a7 {
  margin: 0;
  font-size: 64px;
  padding: 60px 60px 0 20px;
  font-family: "Poppins";
  font-weight: 500;
}

.c-work {
  width: 100%;
  padding: 0px 60px 0px 60px;
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.c-work__list {
  position: relative;
  z-index: 2;
}
.c-work__item {
  display: block;
}

.c-work-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 15px 0;
}
.c-work-item__number {
  position: absolute;
  display: inline-block;
  right: 100%;
  top: 25px;
  margin-right: 25px;
  pointer-events: none;
  transition: all 0.2s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform, opacity;
}
.c-work-item__title {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}
.c-work-item__category {
  display: inline-block;
  transition: all 0.2s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}
.c-work-item__category i {
  font-style: normal;
  display: inline-block;
  margin-right: 8px;
}
.c-work-item:hover .c-work-item__title {
  transform: translateX(10px);
}
.c-work-item:hover .c-work-item__number {
  opacity: 0;
  transform: translateX(20px);
}
.c-work-item:hover .c-work-item__category {
  transform: translateX(10px);
}
.c-work-item{
   transition: 0.2s ease-in;
}
.js-work:hover .c-work-item{
   opacity: 0.5;
}
.js-work .c-work-item:hover{
   opacity: 1;
}



.c-work-preview {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  padding-right: 60px;
  pointer-events: none;
  z-index: 1;
}

.c-work-preview__canvas {
  display: block;
  position: absolute;
  top: 0;
  right: 60px;
  width: 41.6666666667%;
  height: 100%;
}
.c-work-preview__canvas .canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-size: 0;
}
.c-work-preview__canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-work-preview__list {
  display: block;
  position: absolute;
  top: 0;
  right: 60px;
  width: 41.6666666667%;
  height: 100%;
}
.c-work-preview__item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.c-work-preview__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
}


.back-nav-menu{
  /* display: none; */
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  /* background-color: #121212; */
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.back-nav-content{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
}

.back-nav-menu {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0.76, 0, 0.24, 1);
  background-color: #F2F3F4;
  background-color: #3782ce;
}
.back-nav-menu .back-nav-content h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backnav-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  margin-top: -80px;
  }
  
  .bcknav-div1 { grid-area: 1 / 1 / 4 / 4; padding: 5px; }
  .bcknav-div2 { grid-area: 1 / 4 / 2 / 5; padding: 5px; }
  .bcknav-div3 { grid-area: 1 / 5 / 2 / 6; padding: 5px; }
  .bcknav-div4 { grid-area: 2 / 4 / 3 / 5; padding: 5px; }
  .bcknav-div5 { grid-area: 2 / 5 / 3 / 6; padding: 5px; }
  .bcknav-div6 { grid-area: 3 / 4 / 4 / 5; padding: 5px; }
  .bcknav-div7 { grid-area: 3 / 5 / 4 / 6; padding: 5px; }

  #bcknav_copyright{
    font-size: 13rem;
    font-family: "inter";
    font-weight: 600;
  }

  .backnav-parent > *{
    transition: 0.3s ease;
    color:#ffffffb3;
  }
  .backnav-parent > *:hover:not(.bcknav-div1) {
    /* color: #21374d; */
    color: #fff;
    cursor: pointer;
  }

  #homelink:hover{
    color: white;
  }

  